@using NorthWindWeek5.Models;
@{

    ViewBag.Title = "DisplayOrder";
}

<h2>Display Order</h2>

<h3>Thank you for shopping with Northwind, @ViewBag.Name!</h3>
<p>The below order will be shipped 5-10 business days after payment!</p>

<table class="table table-striped table-bordered">
    <tbody>
        @{

            for (int i = 0; i < ViewBag.Products.Length; i++)
            {
                <tr>
                    <td>@ViewBag.Products[i]</td>
                    <td>@ViewBag.Qty[i]</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th id="total">$@ViewBag.Total</th>
        </tr>
    </tfoot>
</table>

<h3>Shipping Information:</h3>
<p>@ViewBag.Name</p>
<p>@ViewBag.Address</p>
<p>@ViewBag.City, @ViewBag.State @ViewBag.Zip</p>
<h3>Thank you for shopping with Northwind!</h3>