@using System.Data.Entity
@using NorthWindWeek5.Security
@using NorthWindWeek5.Models
@{
    ViewBag.Title = "Cart";
    ViewBag.Total = (decimal)0.00;
    ViewBag.Code = "";
}
<h2>My Cart</h2>
<table id="orderTable" class="table table-hover table-responsive">
    @{
        using (NorthwindEntities db = new NorthwindEntities())
        {
            var id = UserAccount.GetUserId();
            var results = db.Carts
                .Where(c => c.CustomerID == id)
                .ToList();

            if (results.Any())
            {
                <thead>
                    <tr>
                        <th class="font-md">Product</th>
                        <th class="text-right">Quantity</th>
                        <th class="text-right">Price</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (Cart c in results)
                    {
                        var name = db.Products
                        .Where(p => p.ProductID == c.ProductID)
                        .Select(p => p.ProductName).FirstOrDefault();

                        var price = (db.Products
                        .Where(p => p.ProductID == c.ProductID)
                        .Select(p => p.UnitPrice)
                        .FirstOrDefault() * Convert.ToDecimal(c.Quantity))
                        .ToString();

                        ViewBag.Total += Convert.ToDecimal(price);

                        <tr id="@c.CartID" data-product="@c.ProductID" class="product-row">
                            <td id="name_@c.ProductID">@name</td>
                            <td class="text-right">@c.Quantity</td>
                            <td class="hidden" id="hidden_@c.ProductID">@c.CartID</td>
                            <td class="text-right">$@price.Substring(0, price.Length - 2)</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="text-right font-md">Total:</td>
                        <!--This is where the total is generated-->
                        <td class="text-right font-md" id="orderTotal">$@Math.Round(ViewBag.Total, 2)</td>
                    </tr>
                    @{
                        foreach (Cart c in results)
                        {
                            var name = db.Products
                       .Where(p => p.ProductID == c.ProductID)
                       .Select(p => p.ProductName).FirstOrDefault();

                            var code = db.Discounts
                                   .Where(d => d.ProductID == c.ProductID)
                                   .Select(d => d.Code).FirstOrDefault().ToString();

                            ViewBag.code = code;

                            var discountPercent = db.Discounts
                           .Where(d => d.ProductID == c.ProductID)
                           .Select(d => d.DiscountPercent).FirstOrDefault();

                            var price = Convert.ToDecimal((db.Products
                            .Where(p => p.ProductID == c.ProductID)
                            .Select(p => p.UnitPrice)
                            .FirstOrDefault()) * Convert.ToDecimal(c.Quantity));

                            var discount = Convert.ToDecimal(price - (price * discountPercent));

                            ViewBag.Total -= discount;

                            <tr id="discountRow">
                                <!--This is where the discount is displayed-->
                                <td class="text-left">Discount:</td>
                                <td class="text-left">@name</td>
                                <td class="text-right" id="productDiscount">
                                    $@Math.Round(discount, 2)
                                </td>
                            </tr>


                        }

                    }
                    @*Display new grand total*@
                    <tr>
                        <td></td>
                        <td class="font-md text-right">Updated Total</td>
                        <td class="text-right font-md">$@Math.Round(@ViewBag.Total, 2)</td>
                    </tr>

                    @* Coupon code text box and apply button *@
                    <tr>
                        <td>
                            <input type="text" name="DiscountCode" placeholder="Discount Code" id="discountCode" />
                            <input type="submit" value="Apply" id="submitCode" />
                        </td>
                    </tr>
                </tfoot>
            }
            else
            {
                <tr>Your cart is empty!</tr>
            }
        }

    }
</table>
<div id="empty"></div>
<nav id="nav-footer" class="navbar-default navbar-fixed-bottom">
    <form action="~/Cart/CheckOut">
        <button type="submit" class="btn btn-info pull-right" style="margin-right: 3em">
            Check out
            <i class="fa fa-chevron-circle-right"></i>
        </button>
    </form>
</nav>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Remove from Cart?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-5"><strong>Product</strong></div>
                </div>
                <div class="row">
                    <div class="col-xs-5 pad-top" id="ProductName">Cool Product</div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-danger" id="RemoveFromCart">
                    Remove
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {

            //working with discount codes
            var ProductID;
            $('#submitCode').click(function () {

                var codeInput = $('#discountCode').val();
                var codeActual = '@(ViewBag.code)';


                console.log(codeInput + " input");
                console.log(codeActual + " actual");

                if (codeInput == codeActual) {

                    $('#discountRow').removeClass('hidden');
                    console.log("true");
                }
                else console.log("false");

            });

            $('#tableBody').on('click', '.product-row', function () {
                // show modal window
                ProductID = $(this).data("product");
                // display selected product's name & price in modal
                $('#ProductName').html($('#name_' + ProductID).html());
                // display modal
                $('#myModal').modal();
            });

            $('#RemoveFromCart').click(function () {
                $('#myModal').modal('hide');
                // display loading notice

               
                var cartID = parseInt($('#hidden_' + ProductID).html());
                 var URL = "@Url.Content("~")Cart/Remove/" + cartID;
                console.log(cartID);
                var results;

                $.post(URL)
                    .always(function (data, textStatus, statusObject) {
                        if (statusObject.status == 200) {
                            //console.log($('#name_' + ProductID).html() + ' added to cart')
                            console.log("deleted");
                            window.location.reload();
                    } else {
                        console.log("Http response code: " + data.status);
                        console.log("Http response: " + data.statusText);
                    }

                });

            });

        });
    </script>
}